{% extends parent %}
{% load i18n %}

{% block title %}{% blocktrans with date=show.showtime|date:_("F jS Y") %}new tracks for {{ date }}{% endblocktrans %}{% endblock %}

{% block content %}
  <h2>{% blocktrans with date1=show.showtime|date:_("F")|lower date2=show.showtime|date:_("jS Y") %}tracks added for {{ date1 }}&nbsp;{{ date2 }}{% endblocktrans %}</h2>
  <p class="subheading">
    {% if show.next and show.next.has_ended %}
      <a href="{{ show.next.get_revealed_url }}">« {{ show.next.showtime|date:"Y-m-d" }}</a>
    {% else %}
      <a href="{% url "vote:index" %}">« {% trans "current" %}</a>
    {% endif %}

    · <a href="{% url "vote:archive" %}">{% trans "all shows" %}</a> ·

    {% if show.prev %}
      <a href="{{ show.prev.get_revealed_url }}">{{ show.prev.showtime|date:"Y-m-d" }} »</a>
    {% else %}
      {% trans "no older show" %}
    {% endif %}
  </p>

  {% if show.plays %}
    <p class="subheading"><a href="{{ show.get_absolute_url }}">{% blocktrans count plays=show.plays|length %}
    {{ plays }} track played this week
    {% plural %}
    {{ plays }} tracks played this week
    {% endblocktrans %}</a></p>
  {% endif %}

  {% if object_list %}
    <ul class="tracks">
      {% include "include/tracklist.html" with tracks=object_list %}
    </ul>

    {% include "include/paginator.html" %}
  {% else %}
    <p class="aside">{% trans "no tracks added this week ( ´· _ ·`)" %}<p>
  {% endif %}
{% endblock %}
