{% extends parent %}
{% load i18n %}

{% block title %}archive{% endblock %}

{% block content %}
  <ul class="archive">
    {% for show in object_list %}
      <li class="show">
        <h2><a href="{{ show.get_absolute_url }}">{{ show.showtime|date:_("F jS Y") }}</a></h2>
        <p class="subheading">
          <span><a href="{{ show.get_absolute_url }}">{% blocktrans count count=show.play_set.count %}
          {{ count }} play
          {% plural %}
          {{ count }} plays
          {% endblocktrans %}</a></span>
          <span>{% blocktrans count count=show.vote_set.count %}
          {{ count }} vote
          {% plural %}
          {{ count }} votes
          {% endblocktrans %}</span>
          {% if show.revealed.count %}
            <span><a href="{{ show.get_revealed_url }}">{% blocktrans count count=show.revealed.count %}
            {{ count }} new track
            {% plural %}
            {{ count }} new tracks
            {% endblocktrans %}</a></span>
          {% endif %}
        </p>
      </li>
    {% endfor %}
  </ul>

  {% include "include/paginator.html" %}
{% endblock %}
