{% extends "confirm.html" %}
{% load i18n %}

{% block deets %}
  {% if deets %}
    <ul class="changes">
      {% for change in deets %}
        <li>

          <p class="title"><strong>{{ change.item }}</strong></p>

          {% if change.type == 'new' %}
            <p>{% trans "Has been added" %}</p>
          {% elif change.type == 'hide' %}
            <p>{% trans "Has been removed and will be hidden" %}</p>
          {% elif change.type == 'change' %}
            <ul class="diff">
              {% for item in change.changes %}
                <li>
                  <p>{% blocktrans with field=item.field %}<em>{{ field }}</em> used to be:{% endblocktrans %}</p>
                  <p>{% if item.from %}<code>{{ item.from }}</code>{% else %}<em>{% trans "empty" %}</em>{% endif %}</p>
                  <p>{% trans "and has been changed to:" %}</p>
                  <p>{% if item.to %}<code>{{ item.to }}</code>{% else %}<em>{% trans "empty" %}</em>{% endif %}</p>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>{% trans "Unknown change; please file a bug." %}</p>
          {% endif %}
        </li>
      {% endfor %}
    </li>
  {% else %}
    <p class="aside">{% trans "Nothing changed." %}</p>
  {% endif %}
{% endblock %}
