{% extends parent %}
{% load i18n %}

{% block title %}{% blocktrans %}{{ mode_name }} roulette{% endblocktrans %}{% endblock %}

{% block content %}

  <h2>{% trans "roulette" %}</h2>
  <p class="subheading roulette-mode-switch">
    {% for slug, name in modes %}
      <span>
      {% if mode == slug %}
        {{ name }}
      {% else %}
        <a href="{% url "vote:roulette" mode=slug %}">{{ name }}</a>
      {% endif %}
    </span>
    {% endfor %}
  </p>

  <ul class="tracks">
    {% include "include/tracklist.html" %}
  </ul>

  <p class="aside"><a href="{% url "vote:roulette" mode=mode %}">{% trans "these are all terrible" %}</a></p>

{% endblock %}
