{% extends parent %}
{% load i18n %}

{% block title %}{% trans "log in" %}{% endblock %}

{% block content %}
<h2 class=message>{% trans "log in" %}</h2>

{% if form.errors %}
<p class="aside problems">{% trans "wrong username/password, sorry" %}</p>
{% endif %}

<form class="login" method="post" action="{% url "django.contrib.auth.views.login" %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="login">
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
